body.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme .table {
    color: #fff;
}

.dark-theme .form-control {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

.dark-theme .form-label {
    color: #fff;
}
